.carousel carousel-dark slide{
    width: 400px; 
    height: 400px; 
}
.carousel-inner{
width: 400px;
height: 400px;
}
.carousel-item{
    width:400px;
    height:400px;
}
.carousel{
    width: 400px; 
    height: 400px; 
   
    
}